<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to cocktails_path do %>
    <i class="fas fa-cocktail"></i>
    <span class='text-muted'>Ma cocktailothèque</span>
  <% end %>


  <div class="collapse navbar-collapse text-light" id="navbarSupportedContent">
    <%= link_to new_cocktail_path do %>
      <button type="button" class="btn btn-primary">
        <i class="fas fa-plus"></i>
      </button>
    <% end %>
  </div>
</div>
